* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* ------ Header ------- */
.main-nav > ul {
    overflow: hidden;
    list-style-type: none;
    margin-right: 100px;
}
.main-nav li {
    float: right;
}
.main-nav li a {
    display: block;
    padding: 15px;
    margin: 0 5px;
    text-decoration: none;
}
.main-nav > ul > li a:hover {
    border-bottom: 3px solid #21ce99;
}
.main-nav > ul > li a:visited {
    color: black;
}

/* ------ CardBar ------ */
.card-bar {
    width: 80%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
}

.card-bar__image img {
    height: 150px;
    width: 200px;
}

/* ------ Apply ------ */
.apply-button {
    background-color: #21ce99; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

form {
    width: 400px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(180deg, #82abed 20%, #ffffff 80%);
}

.input-item {
    width: 180px;
    height: 30px;
    font-size: 16px;
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
    padding: 3px 10px;
}
/* .divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
} */
